<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson and Sylvain Hellegouarch
  LICENSE: The code contained in this file is licensed under The MIT License. Please see http://www.opensource.org/licenses/mit-license.php for specific detail.
-->
<configuration>
  <appSettings>
  	<!-- 
	DOC:SETTING AN XSLT PARAMETER
	  To pass a parameter key name and value to the transformation process,
	  simply add a key name and value using the "add" element as outlined below.
	  The key name should use the prefix "xsltParam_".  When the transformation file
	  is compiled, the name of the parameter will be set to what follows after
	  "xsltParam_".  So, for example the value of "xsltParam_base" will be passed 
	  into the transformation file with the parameter name "base".  If you would like
	  to use a prefix other than "xsltParam_", uncomment the "xsltParamKeyPrefix" key
	  and change its value to the prefered prefix.
	/DOC:SETTING AN XSLT PARAMETER 
	-->
    <!--<add key="xsltParamKeyPrefix" value="xsltParam_" />-->
    <add key="xsltParam_xml.base" value="http://localhost:9999/" />
    <add key="baseTemplate" value="/repository/xslt/base.xslt"/>
    <add key="MonoServerDefaultIndexFiles" value="default.omx" />
    <add key="WSGIReloadIronPython" value="False" />
    <add key="WSGIApplicationModule" value="appsite"/>
    <add key="WSGIApplication" value="app"/>
    <!-- remember to upate appsite.py an appstore.conf when you change this value -->
    <add key="WSGIApplicationURLPath" value="/"/>
    <add key="MonoServerDefaultIndexFiles" value="index.xml,default.omx" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- 
        NOTE: WSGI with IronPython instance 
      -->
      <add verb="*" path="/service/pub/" type="WSGIHandler,Xameleon" />
      <add verb="*" path="/collection/**/*" type="WSGIHandler,Xameleon" />
      <add verb="GET,HEAD" path="*.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.atom" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.omx" type="Xameleon.HttpHandler,Xameleon"/>   
    </httpHandlers>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
