<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson and Sylvain Hellegouarch
  LICENSE: The code contained in this file is licensed under The MIT License. Please see http://www.opensource.org/licenses/mit-license.php for specific detail.
-->
<configuration>
  <appSettings>
    <add key="WSGIReloadIronPython" value="False" />
    <add key="WSGIApplicationModule" value="appsite"/>
    <add key="WSGIApplication" value="app"/>
    <!-- remember to upate appsite.py an appstore.conf when you change this value -->
    <add key="WSGIApplicationURLPath" value="/"/>
    <add key="MonoServerDefaultIndexFiles" value="index.xml" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- 
        NOTE: WSGI with IronPython instance 
      -->
      <add verb="*" path="/service/pub/" type="WSGIHandler,Xameleon" />
      <add verb="*" path="/collection/**/*" type="WSGIHandler,Xameleon" />
      <add verb="GET,HEAD" path="*.xml" type="System.Web.StaticFileHandler"/>
    </httpHandlers>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
