<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson and Sylvain Hellegouarch
  LICENSE: The code contained in this file is licensed under The MIT License. Please see http://www.opensource.org/licenses/mit-license.php for specific detail.
-->
<configuration>
  <appSettings>
    <!-- 
      DOC:SETTING AN XSLT PARAMETER
        To pass a parameter key name and value to the transformation process,
        simply add a key name and value using the "add" element as outlined below.
        The key name should use the prefix "xsltParam_".  When the transformation file
        is compiled, the name of the parameter will be set to what follows after
        "xsltParam_".  So, for example the value of "xsltParam_base" will be passed 
        into the transformation file with the parameter name "base".  If you would like
        to use a prefix other than "xsltParam_", uncomment the "xsltParamKeyPrefix" key
        and change its value to the prefered prefix.
      /DOC:SETTING AN XSLT PARAMETER 
    -->
    <!--
    <add key="xsltParamKeyPrefix" value="xsltParam_" />
    -->
    <add key="xsltParam_xml.base" value="http://localhost/"/>
    <add key="baseTemplate" value="/workspace/xslt/base.xslt"/>
    <!--
      NOTE: The following are necessary for the WSGI HttpHandler specied in the httpHandlers section.
    -->
    <add key="WSGIReloadIronPython" value="False" />
    <add key="WSGIApplicationModule" value="appsite"/>
    <add key="WSGIApplication" value="app"/>
    <!-- remember to upate appsite.py an appstore.conf when you change this value -->
    <add key="WSGIApplicationURLPath" value="/"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- 
        NOTE: WSGI with IronPython instance 
      -->
      <add verb="*" path="/*" type="WSGIHandler,Xameleon" />
      <!--<add verb="*" path="/xameleon/app/service" type="WSGIHandler,Xameleon" />-->
      <add verb="GET,HEAD" path="*.omx" type="Xameleon.HttpHandler"/>
      <add verb="GET,HEAD" path="*.om" type="Xameleon.HttpHandler"/>
      <!-- 
        NOTE: *.atom and *.service, at present time, are no longer handled by the Xameleon.HttpHandler handler.
      -->
      <!--
      <add verb="GET,HEAD" path="*.atom" type="Xameleon.HttpHandler"/>
      <add verb="GET,HEAD" path="*.service" type="Xameleon.HttpHandler"/>
      -->
      <add verb="GET,HEAD,POST" path="*.create" type="Xameleon.HttpHandler"/>
      <add verb="GET,PUT,DELETE" path="*.edit" type="Xameleon.HttpHandler"/>    
    </httpHandlers>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <compilation debug="true" batch="false" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
