<configuration>
  <appSettings> 
  <add key="WSGIReloadIronPython" value="False" />
  <add key="WSGIApplicationModule" value="appsite"/>
  <add key="WSGIApplication" value="app"/>
  <add key="WSGIApplicationURLPath" value="/"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- WSGI with IronPython instance -->
      <add verb="*" path="/*" type="WSGIHandler,Xameleon" />
    </httpHandlers>
  </system.web>
</configuration>