<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extf.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Extf.Net.Properties.Settings.AppSQLite3ConnectionString"
            connectionString="data source=.\app.db" providerName="System.Data.SQLite" />
        <add name="Extf.Net.Properties.Settings.ConnectionString" connectionString="data source=&quot;C:\Documents and Settings\M. David\My Documents\My Projects\extf.net\trunk\Base\Properties\app.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <applicationSettings>
        <Extf.Net.Properties.Settings>
            <setting name="Extf_Net_AmazonAWS_S3_AmazonS3" serializeAs="String">
                <value>https://s3.amazonaws.com/soap</value>
            </setting>
            <setting name="Extf_Net_AmazonAWS_SQS_QueueService" serializeAs="String">
                <value>http://queue.amazonaws.com</value>
            </setting>
            <setting name="Extf_Net_AmazonAWS_EC2_AmazonEC2" serializeAs="String">
                <value>https://ec2.amazonaws.com/</value>
            </setting>
        </Extf.Net.Properties.Settings>
    </applicationSettings>
</configuration>