<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Extf.Net.Properties.Settings.AppSQLite3ConnectionString"
            connectionString="data source=.\app.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>