<?xml version="1.0"?>
<!--
  COPYRIGHT: (c) 2006 by M. David Peterson and Sylvain Hellegouarch
  LICENSE: The code contained in this file is licensed under The MIT License. 
  Please see http://www.opensource.org/licenses/mit-license.php for specific detail.
-->
<configuration>
  <appSettings>
    <!-- 
	    DOC:SETTING AN XSLT PARAMETER
	      To pass a parameter key name and value to the transformation process,
	      simply add a key name and value using the "add" element as outlined below.
	      The key name should use the prefix "xsltParam_".  When the transformation file
	      is compiled, the name of the parameter will be set to what follows after
	      "xsltParam_".  So, for example the value of "xsltParam_base" will be passed 
	      into the transformation file with the parameter name "base".  If you would like
	      to use a prefix other than "xsltParam_", uncomment the "xsltParamKeyPrefix" key
	      and change its value to the prefered prefix.
	    /DOC:SETTING AN XSLT PARAMETER 
  	-->
    <!--
      <add key="xsltParamKeyPrefix" value="xsltParam_" />
    -->
    <add key="xsltParam_xml.base" value="http://sonicradar.com/"/>
    <!-- 
      NOTE: The following Google Maps key will not work outside of the above xml.base domain.
      Please visit http://www.google.com/apis/maps/ to register for your own key.   Thanks!
      /NOTE
    -->
    <add key="xsltParam_google.maps.key"
        value="ABQIAAAAEPQGOws5xNa--1d-oQQDjhQBLCF4itZg49KtrUsTWbeQeH8eJBRwtde7Ap02X3O6BsM26m-PJRHiwA"/>
    <add key="baseTemplate" value="/transform/base.xslt"/>
    <add key="MonoServerDefaultIndexFiles"
        value="service.op,default.omx,index.xml,index.aspx,default.aspx,index.html"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="GET,HEAD" path="*.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.atom" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.omx" type="Xameleon.AsyncSaxonHttpHandler,Xameleon"/>
      <add verb="GET,HEAD,PUT,POST,DELETE" path="*.op" type="Xameleon.AsyncSaxonHttpHandler,Xameleon"/>
    </httpHandlers>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <compilation debug="true" />
    <httpRuntime executionTimeout="15000" /> 
  </system.web>
</configuration>
