body {
    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-size:100%;
    text-align: left;
    color:#555;
    background-color:#FFF;
}
input {
    font-size:small;
}
img {
    border:0;
}
p {
    text-align:left;
    margin-right:20px;
    margin-left:20px;
    width:auto;
    text-transform:none;
    padding:5px;
    font-size:small;
}
h3 {
    font-size:medium;
    margin-left:1em;
    margin-right:1em;
    border-bottom:1px solid #31659C;
}
a {
    color: #FFF;
    background-color:Transparent;
    font-weight:400;
}
a:hover {
    color:#FFCC66;
    background-color:#FFF;
}
p a {
    background-color:Transparent;
    font-weight:600;
}
p a:hover {
    color:#FFCC66;
    background-color:#FFFEEF;
}
ul {
    display:block;
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:100%;
}
li {
    display:inline;
    width:auto;
    font-size:small;
}
ul.list li {
    display: block;
}
ul.TtoB li {
    display:block;
}
ul.LtoR li {
    display:inline;
    text-align: left;
}
ul.LtoR li:first-child {
    margin-left:5px;
}
ul.RtoL li {
    text-align: right;
}
.base {
}
.inline > ul {
    display:inline;
}
.dirUp {
}
.base {
}
.alignLeft {
    text-align:left;
}
.alignRight {
    text-align:right;
}
.alignRight label {
    text-align:right;
}
.last {
    margin-right:0px;
}
#header {
    z-index:1;
}
#fixed-header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color:#FFF;
}
#page-nav {
}
#top-navigation {
    position:relative;
    border-top:2px #993300 solid;
    padding:0px;
    z-index:5;
/* background:#FFF url("/static/images/gradient.png") top repeat-x; */
}
#top-navigation > ul {
    padding-top:1px;
}
#top-navigation > ul > li:first-child {
    margin-left:-1px;
}
#top-level-nav li {
    color:#FFF;
}
#top-navigation li > a {
    padding:0px;
    color:#993300;
    background-color:Transparent;
    text-decoration:none;
    letter-spacing:.25em;
}
#top-navigation li > a:hover {
    color:#FFCC00;
    background-color:inherit;
}
#top-navigation li.selected > a {
    padding:4px 2px 1px 5px;
    color:#993300;
    background-color:inherit;
    border-right:0px;
    border-left:0px;
    letter-spacing:0.25em;
}
#top-navigation li.selected > a:hover {
    color:#FFCC00;
    background-color:inherit;
}
#top-navigation li.selected {
    color:#333;
    background-color:inherit;
    border-right:0px;
    border-left:0px;
    letter-spacing:0.25em;
    margin-left:10px;
}
#location-hierarchy li.current > a {
    color:#993300;
    background-color:Transparent;
}
#location-hierarchy li.current > a:hover {
    color:#CC6600;
    background-color:Transparent;
}
#location-hierarchy > ul {
}
#location-hierarchy li:first-child > a {
    padding:0px 6px 0px 1px;
}
#location-hierarchy li > a {
    color:#000;
    background-color:Transparent;
    border:0px;
    padding:0px 6px 0px 6px;
    letter-spacing:.40em;
    font-weight:600;
}
#location-hierarchy li > a:hover {
    color:#993300;
    background-color:Transparent;
    border:0px;
}
#top-level-nav {
    padding:4px 0px 0px;
    margin:0px 5px;
    z-index:5;
}
#quick-nav {
    text-align:right;
    margin-top:5px;
    z-index:5;
}
#location-hierarchy {
    position:absolute;
    left:0px;
    top:1px;
}
li.date label {
    color:#993300;
    letter-spacing:.20em;
    font-weight:600;
    margin-right:5px;
}
#today {
    margin-right:5px;
    margin-top:5px;
}
#sub-nav {
    text-align:left;
    width:99%;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    margin-top:0px;
    border-top:1px solid #993300;
    border-bottom:1px solid #993300;
    margin-top:.25em;
    background-color:#FFF;
    z-index:1;
    position:relative;
}
#sub-nav > ul {
    padding:2px 0px 2px;
    margin:0px;
}
#sub-nav li, #sub-nav li.selected {
    margin:0px 5px 0px 5px;
}
#sub-nav li a {
    color:#555;
    text-decoration:none;
    background-color:Transparent;
    padding:0px 6px 0px 6px;
    letter-spacing:.15em;
    border-right:1px solid #EEE;
    border-left:1px solid #EEE;
}
#sub-nav li a:hover {
    color:#993300;
    background-color:Transparent;
    border-right:1px solid #CC6600;
    border-left:1px solid #CC6600;
}
#sub-nav li.selected a {
    color:#993300;
    border:1px solid #993300;
    border-bottom:0px;
    border-top:0px;
    background-color:#FFF;
    padding:3px 6px 3px 6px;
    font-weight:600;
}
#sub-nav li.selected a:hover {
    color:#993300;
    border:1px solid #000;
    border-bottom:0px;
    border-top:0px;
    background-color:#FFF;
    padding:3px 6px 3px 6px;
}
#instance {
    position:absolute;
    top:10em;
    text-align:left;
    z-index:0;
    width:100%;
}
#instance > ul {
    margin-right:auto;
    margin-left:auto;
    width:99%;
}
#content {
    margin-right:auto;
    margin-left:auto;
    width:99%;
    height:auto;
    margin-bottom:8em;
    margin-top:0px;
    background-color:#FFF;
    padding:5px 0px 5px 0px;
    border:1px solid #46525D;
}
#footer {
    z-index:1;
    position: fixed;
    right: 0;
    left: 0;
    bottom:0;
}
#fixed-footer {
    z-index:1;
}
img {
    border:0;
}
a {
    margin:0px 1px;
    padding:0px 3px;
    color:#990000;
    background-color:inherit;
    text-decoration:none;
}
a:hover {
    color:#990000;
    background-color:inherit;
    text-decoration:underline;
}
.base {
}
#copyright {
    z-index:10;
    text-align:center;
    margin-top:0px;
    background-color:#993300;
    padding:2px 0px 2px 0px;
    color:#FFF;
}
#copyright li {
    font-size:small;
}
#copyright a {
    color:#FFF;
    text-decoration:underline;
    font-weight:600;
}
#copyright a:hover {
    color:#330000;
}
#page-title {
    margin-top:35px;
    margin-bottom:-9px;
}
.title {
    font-size:xx-large;
    color:#3C5569;
}
#lower-nav {
    text-align:left;
    padding:0px;
    margin-top:0px;
/* border-top:1px solid #000; */
    border-bottom:1px solid #000;
    background-color:#FFF;
    z-index:1;
    position:relative;
}
#lower-nav > ul {
    padding:3px 0px 2px;
    margin:0px;
}
#lower-nav li, #lower-nav li.selected {
    margin:0px 5px 0px 5px;
}
#lower-nav li a {
    color:#555;
    text-decoration:none;
    background-color:Transparent;
    padding:0px 6px 0px 6px;
    letter-spacing:.15em;
    border-right:1px solid #EEE;
    border-left:1px solid #EEE;
}
#lower-nav li a:hover {
    color:#993300;
    background-color:Transparent;
    border-right:1px solid #CC6600;
    border-left:1px solid #CC6600;
}
#lower-nav li.selected a {
    color:#000;
    border:1px solid #000;
    border-bottom:0px;
    background-color:#FFF;
    padding:1px 6px 3px 6px;
}
#lower-nav li.selected a:hover {
    color:#993300;
    border:1px solid #000;
    border-bottom:0px;
    background-color:#FFF;
    padding:1px 6px 3px 6px;
}
#search, #search li {
    display:inline;
    text-align:right;
}
#search > ul {
    margin:0px 5px;
    padding:0px 5px;
}
#myMap {
    position: absolute;
    left:0px;
    bottom:1px;
    width: 100%;
    height: 270px;
    z-index: 1;
    border-top:1px solid #CC6600;
    border-bottom:1px solid #CC6600;
}
#geo-location {
    text-align:center;
    padding:3px 0;
    width:100%;
    border-bottom:2px solid #993300;
    z-index:10;
    text-align:center;
    margin-top:0px;
    background-color:#FFF;
    color:#993300;
}
.transparency-85 {
    filter:alpha(opacity=85);
    opacity: 0.85;
    -moz-opacity:0.85;
}
